body {
    background-image: url("../img/interior.jpg");
    background-size: cover;
    background-position: center;
    /*background-attachement: */
}

.btn-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}

#wrap {
    float: left;
    position: relative;
    left: 50%;
}

#content {
    float: left;
    position: relative;
    left: -50%;
}

#imgcol {
    max-height: 500px;
}
