body {
    padding-top: 70px;
    padding-bottom: 25px;
    background-image: url("../img/interior.jpg");
    background-size: cover;
    background-position: center;
    /*background-attachement: */
}

.shrink {
    height: 250px;
}

.centered {
    float: none;
    margin: 0 auto;
}